@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

*::selection{
    background-color: white;
    color: black;
}

body{
    height: auto;
    min-height: 100vh;
    background-color: white;
}

.container{
    width: 500px;
}

.input-group {
    width: 95%;
    margin: 10px auto 5px auto;
}

#addTasksButton{
    width: 200px;
    margin: 0px;
    margin-top: 5px;
}

.flatpickr-input{
    width: 255px;
    margin: 0px;
}

#resetTasksButton{
    width: 130px;
    margin: 0px;
    margin-top: 5px;
}

#SelectPriorityText {
    width: 200px;
    margin: 0px;
}

#SelectPriority{
    padding: 0px;
}

.mostImpDiv{
    margin: auto;
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-between;
}

#listContainer{
    grid-template-columns: repeat(1, 400px);
}

.card{
    width: 400px;
}

.PriorityClass{
    left: 30%;
}

.priorityDropdown{
    left: 120px;
}

.dropdown{
    margin-top: 5px;
}

.dropdown-toggle{
    height: 40px;
}