@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

*::selection{
    background-color: white;
    color: black;
}

body{
    height: auto;
    min-height: 100vh;
    background-color: white;
}

.container{
    width: 300px;
}

.input-group {
    width: 95%;
    margin: 10px auto 5px auto;
}

.input-group-text{
    width: 20%;
}

.input-group-text:nth-of-type(2){
    width: 30%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#typeTasks{
    width: 78%;
    height: 40px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#typeTasks2{
    width: 68%;
    height: 40px;
}

#addTasksButton{
    width: 150px;
    margin: 0px;
    margin-top: 5px;
}

.flatpickr-input{
    width: 99.5%;
    margin: 0px;
}

#resetTasksButton{
    width: 130px;
    margin: 0px;
    margin-top: 5px;
}

#SelectPriorityText {
    width: 285px;
    margin: 0px;
}

#SelectPriority{
    padding: 0px;
}

.mostImpDiv{
    margin: auto;
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-between;
}

#listContainer{
    grid-template-columns: repeat(1, 280px);
}

.card{
    width: 280px;
}

.PriorityClass{
    width: 50%;
    left: 25.5%;
}

.priorityDropdown{
    width: 50%;
    left: 25.5%;
}

.datepickerEdit{
    width: 180px;
}

.dropdown{
    margin-top: 5px;
}

.dropdown-toggle{
    height: 40px;
    width: 285px;
}

.navbar{
    display: flex;
}

.headOne{
    font-size: 1.1rem;
}

.heading img{
    width: 30px;
}

.input-group-text{
    font-size: 0.7rem;
}

.card-title {
    width: 240px;
}

.heading {
    padding: 20px;
}